# ============================================================
# clientes_camd35.cfg - UTILIZADORES CAMD35 (UDP) que TU crias
# ============================================================
CAMD35 USER: caspt35 Camd7Caspt2026 { cacheex_mode=2; }
