# ============================================================
# MultiCS r1000 v1.10.9 by Sharillas@2026
# Configuracao LIMPA - um so server CCcam (reader)
# ============================================================

######### FICHEIROS AUXILIARES (dados da GUI - nao tocar) #########
FILE CHANNELINFO: "/var/etc/CCcam.channelinfo"
FILE PROVIDERINFO: "/var/etc/CCcam.providers"
FILE IP2COUNTRY: "/var/etc/ip2country.csv"
FILE STYLESHEET: "/var/etc/multics.css"
BLOCKEDIP FILE: "/var/etc/blocked_ips.cfg"
CONSTCW FILE: "/var/etc/Softcam.cfg"
LITE FILE: "/var/etc/CCcam.lite"

######### GLOBAL #########
LOGLEVEL: 3
BLOCK COUNTRY: XX, YY
DELAY THREAD: 100
DELAY CONNECT: 100
ECM_MAXALIVE: 17000
GENERAL_POLL_TIMEOUT: 3000
GENERAL_SEND_TIMEOUT: 500
GENERAL_ERROR_DELAY: 99000
DELAY_CACHE_STARTUP: 3000
DELAY_MAIN_SLEEP: 5000
NEWCAMD_KEEPALIVE: 80

######### HTTP (interface web) #########
HTTP PORT: 5500
HTTP USER: admin
HTTP PASS: admin
HTTP TITLE: "MultiCS r1000 v1.26 by Sharillas@2026"
HTTP AUTOREFRESH: 15
HTTP DCW_CHART_MAX: 10000
HTTP MAX_CARDS: 3
HTTP MAX_GETPARAMS: 8
HTTP SHOW HOME: YES
HTTP SHOW DEBUG: YES
HTTP SHOW BLOCKED: YES
HTTP SHOW GRAPHS: YES
HTTP SHOW CONFIG: YES
HTTP SHOW SERVERS: YES
HTTP SHOW CACHE: YES
HTTP SHOW CACHEEX: YES
HTTP SHOW NEWCAMD: YES
HTTP SHOW MGCAMD: YES
HTTP SHOW CCCAM: YES
HTTP SHOW CS378X: YES
HTTP SHOW CAMD35: YES
HTTP SHOW FREECCCAM: YES
HTTP SHOW PROFILES: YES
HTTP SHOW DEFAULT: YES
HTTP SHOW EDITOR: YES
HTTP SHOW RESTART: YES

######### TELNET #########
TELNET PORT: 5600
TELNET USER: admin
TELNET PASS: muda-esta-password

######### CACHE #########
CACHE PORT: 5599
CACHE TIMEOUT: 300
CACHE ALIVETIME: 4500
CACHE AUTOADD: YES, YES
CACHE AUTODISABLE: 2
CACHE MAXPEERS: 50
CACHE PING_INTERVAL: 3000
CACHE PEER_TIMEOUT: 15000
CACHE CHECK_INTERVAL: 1000
CACHE SMS_MAX: 10
CACHE FILTER: ON
CACHE FILTER TIME: 1
CACHE DCWCHECK2: NO
CACHE DCWCHECK3: NO
CACHE MAXPING: 100

######### SERVIDORES (paginas do menu) #########
# CCCAM (clientes F-lines em 1-Clients.cfg)
CCCAM PORT: 16000
CCCAM VERSION: 2.3.0
CCCAM DCW CHECK: YES
CCCAM KEEPALIVE: YES
CCCAM STEALTHMODE: YES

# MGCAMD (utilizadores em Mgcamd.cfg)
MGCAMD PORT: 21000
MGCAMD KEY: 01 02 03 04 05 06 07 08 09 10 11 12 13 14
MGCAMD KEEPALIVE: YES
MGCAMD DCW CHECK: YES

# CAMD35 (UDP) e CS378X (TCP) - utilizadores em Camd35.cfg
CAMD35 PORT: 7502
CAMD35 KEEPALIVE: YES
CAMD35 DCW CHECK: YES

CS378X PORT: 8600
CS378X KEEPALIVE: YES
CS378X DCW CHECK: YES

######### UTILIZADORES / PERFIS #########







######### SERVER (reader) #########
# O UNICO server: CCcam reader
C: 130.255.78.45 15000 sharillas teste { nocheck=yes }


##########################################################
## FAILBAN: ban de IPs com eventos maos (bad CW de clientes/peers)
##########################################################
FAILBAN ENABLE: YES
FAILBAN BANTIME: 7200
FAILBAN CCCAM: YES 20
FAILBAN NEWCAMD: YES 15
FAILBAN MGCAMD: YES 20
FAILBAN CAMD35: YES 20
FAILBAN CS378X: YES 20
FAILBAN CACHE: YES 10

##########################################################
## ANTICASCADE: deteccao de reshare por zapping excessivo
##########################################################
ANTICASCADE MAXZAP: 60
ANTICASCADE WINDOW: 60
ANTICASCADE BANTIME: 300

INCLUDE "/var/etc/perfis.cfg"
INCLUDE "/var/etc/servidores.cfg"
INCLUDE "/var/etc/clientes_cccam.cfg"
INCLUDE "/var/etc/clientes_mgcamd.cfg"
INCLUDE "/var/etc/clientes_cs378x.cfg"
INCLUDE "/var/etc/clientes_camd35.cfg"
INCLUDE "/var/etc/clientes_cache.cfg"
